body{
    display: flex;
    flex-direction: column;
    
}
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
h1{
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
ul{
    list-style: none;
    display: flex;
    gap: 18px;
}
.link1{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}
.header{
    color: #f9faf8;
}
.header-one, .header-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 100px;
    
}
.header-one{
    height: 50px;
    padding-left: 10%;
    padding-right: 15%;
}
.header-two{
    padding-right: 8%;
    padding-left: 12%;
    padding-top: 20px;
    padding-bottom: 50px;
}

button{
    background-color: #3882f6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid royalblue;
    color: #f9faf8;
    width: 120px;
}
.content1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}
.left-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content2{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    gap: 50px;
}
.knight{
    width: 400px;
}
img{
    width: 200px;
    height: 200px;
}
.containt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
}
.main-text{
    font-size: 48px;
    font-weight: 800;

}
.header, .footer{
    background-color: #1f2937;
}

